@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

.nav_input {
  border: 1px solid #5d5959;
  border-radius: 7px;
  padding-right: 15px;
  background: #fff;
}

.input {
  outline: unset;
  border: none;
  border-radius: 7px;
  padding: 7px 15px;
}

.c_pointer {
  cursor: pointer;
}

.link_line {
  position: relative;
  display: flex;
}

.link_line::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  bottom: -4px;
  transition: all .3s linear;
  background: var(--Linear, linear-gradient(270deg, #FFA74C 0%, #FF9155 18.23%, #FE5F6B 48.44%, #C769C6 79.69%, #B16DEA 100%));
}

.link_line:hover::after {
  width: 100%;
}

.course_box {
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(255, 255, 255, 0.04);
}

.linear_gradient {
  background: var(--Linear, linear-gradient(270deg, #FFA74C 0%, #FF9155 18.23%, #FE5F6B 48.44%, #C769C6 79.69%, #B16DEA 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}